.header-table {
  width: 100%;
}

.header-cell {
  width: 33%;
}

.app-title  {
  font-size: 35px;
  text-align: center;
}

.button-icon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 20px;
}

.button-icon:hover {
  color: #777777;
}
