<div class="darkened-back" (click)="hidePanel()" [ngClass]="{'shown-back': sidePanelVisible}">
  <div class="panel-contents" (click)="doNothing($event)" [@openClose]="sidePanelVisible ? 'open' : 'closed'">
    <div
      (click)="clearFilters()" class="search-clearer"
      [ngClass]="{'hidden': searchText === '' && selectedTags.length === 0 && selectedAuthors.length === 0}">
      Clear Filters
    </div>
    <div class="exit-icon" (click)="hidePanel()">
      <fa-icon [icon]="faXmark" class="button-icon"></fa-icon>
    </div>
    <div class="day-counter">
      Day {{ getDayCount() }}
    </div>
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="Search quotes..." [(ngModel)]="searchText" (keydown.enter)="searchQuotes()">
      <fa-icon [icon]="faMagnifyingGlass" class="small-button-icon" (click)="searchQuotes()"></fa-icon>
    </div>
    <div class="tabs">
      <table class="tab-table">
        <tr>
          <td
            class="tab-cell"
            [ngClass]="{'active-tab': activeTab === 'tags'}"
            (click)="setActiveTab('tags')">
            Tags
            <div *ngIf="activeTab === 'tags' && tagSort === SortType.Alphabetical" class="abc-filter" (click)="tagSortClicked()">ABC</div>
            <div *ngIf="activeTab === 'tags' && tagSort === SortType.Popularity" class="number-filter" (click)="tagSortClicked()">#</div>
          </td>
          <td
            class="tab-cell"
            [ngClass]="{'active-tab': activeTab === 'authors'}"
            (click)="setActiveTab('authors')">
            Authors
            <div *ngIf="activeTab === 'authors' && authorSort === SortType.Alphabetical" class="abc-filter" (click)="authorSortClicked()">ABC</div>
            <div *ngIf="activeTab === 'authors' && authorSort === SortType.Popularity" class="number-filter" (click)="authorSortClicked()">#</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="tag-display" *ngIf="activeTab === 'tags'">
      <ng-container *ngFor="let tag of tags">
        <div
          *ngIf="tag.count > 0"
          class="tag-pill"
          (click)="addRemoveTagFromList(tag.id)"
          [ngStyle]="{'background-color': tag.color}"
          [ngClass]="{'unselected': selectedTags.length > 0 && !selectedTags.includes(tag.id)}">
          {{tag.name}}
          <span class="tag-count">{{tag.count}}</span>
        </div>
      </ng-container>
      <div
        class="tag-pill"
        (click)="selectUntagged()">
        Untagged
        <span class="tag-count">{{untaggedCount}}</span>
      </div>
    </div>
    <div class="author-display" *ngIf="activeTab === 'authors'">
      <ng-container *ngFor="let author of authors | authorSort: authorSort">
        <div
          *ngIf="author.count > 0"
          class="author-pill"
          (click)="addRemoveAuthorFromList(author.name)"
          [ngClass]="{'unselected': selectedAuthors.length > 0 && !selectedAuthors.includes(author.name)}">
          {{author.name}}
          <span class="author-count">{{author.count}}</span>
        </div>
      </ng-container>
  </div>
</div>
