.tag-adder-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}

.tag-adder {
  position: absolute;
  top: 40px;
  width: 300px;
  left: calc(50% - 170px);
  background-color: #2C2F32;
  border-radius: 20px;
  padding: 20px;
  z-index: 99999;
}

.darkened-back {
  background-color: #00000099;
  z-index: 99999;
}

.tag-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 60vh;
  overflow: auto;
}

.tag-adder-buttons {
  text-align: right;
}

.button-icon {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.small-button-icon {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.button-icon:hover, .small-button-icon:hover {
  color: #777777;
}

.tag-name-wrapper {
  margin-top: 20px;
}

.tag-adder-header {
  text-align: center;
}

.header-text {
  margin-top: 0;
}

.list-item-table {
  width: 100%;
}

.trash-cell {
  text-align: right;
}

.check-box-cell {
  width: 20px;
}

.tag-pill {
  width: fit-content;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.unselected {
  opacity: 30%;
}

.tag-search {
  margin-bottom: 10px;
}