<div class="tag-adder-wrapper" [ngClass]="{'darkened-back': darkenBack}">
  <div class="tag-adder" *ngIf="!displayConfirm">
    <div class="tag-adder-header">
      <h3 class="header-text">TAGquote</h3>
      <div>
        <input type="text" class="tag-search" placeholder="Search tags..." [(ngModel)]="searchText">
      </div>
    </div>
    <ul class="tag-list">
      <li *ngFor="let tag of filteredTags">
        <table class="list-item-table">
          <tr>
            <td>
              <div
                class="tag-pill"
                (click)="addRemoveTagFromList(tag.id)"
                [ngStyle]="{'background-color': tag.color}"
                [ngClass]="{'unselected': activeTags.length > 0 && !isTagActive(tag.id)}">
                {{tag.name}}
              </div>
            </td>
            <td class="trash-cell">
              <fa-icon [icon]="faTrash" class="small-button-icon" (click)="showConfirm(tag.id)"></fa-icon>
            </td>
          </tr>
        </table>
      </li>
    </ul>
    <div *ngIf="showNewTagInput" class="tag-name-wrapper">
      <input type="text" [(ngModel)]="newTagName" placeholder="Tag name here...">
    </div>
    <div class="tag-adder-buttons">
      <fa-icon [icon]="faPlus" *ngIf="!showNewTagInput" class="button-icon" (click)="showNewTag()"></fa-icon>
      <fa-icon [icon]="faCheck" *ngIf="!showNewTagInput" class="button-icon" (click)="done()"></fa-icon>
      <fa-icon [icon]="faXmark" *ngIf="showNewTagInput" class="button-icon" (click)="hideNewTag()"></fa-icon>
      <fa-icon [icon]="faCheck" *ngIf="showNewTagInput" class="button-icon" (click)="addNewTag()"></fa-icon>
    </div>
  </div>
</div>
<app-are-you-sure
  *ngIf="displayConfirm"
  (confirm)="confirmSelected()"
  (cancel)="cancelSelected()">
</app-are-you-sure>
