.adder-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000099;
    z-index: 9999;
}

.adder-modal {
    position: absolute;
    top: 40px;
    width: 400px;
    left: calc(50% - 210px);
    background-color: #2C2F32;
    border-radius: 20px;
    padding: 20px;
}
