<div class="adder-modal-wrapper" (click)="doNothing($event)">
    <div class="adder-modal" *ngIf="!tagAdderVisible && !displayConfirm">
      <div class="tag-adder-header">
        <h3 class="header-text">{{ title }}</h3>
      </div>
        <table>
            <tr>
                <td class="quote-label-cell">
                    Quote
                </td>
                <td>
                  <textarea class="quote-text" [(ngModel)]="quote" placeholder="Quote text here..."></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Author
                </td>
                <td>
                    <input type="text" [(ngModel)]="author" placeholder="Author here...">
                </td>
            </tr>
            <tr>
                <td>
                    Title
                </td>
                <td>
                    <input type="text" [(ngModel)]="talkTitle" placeholder="Title here...">
                </td>
            </tr>
            <tr>
                <td>
                    Session
                </td>
                <td>
                    <select [(ngModel)]="sessionMonth">
                        <option value="April">April</option>
                        <option value="October">October</option>
                    </select>
                    <input type="number" min="1905" max="2099" step="1" [(ngModel)]="sessionYear" />
                </td>
            </tr>
        </table>
        <div class="padded-top">
          <fa-icon [icon]="faTag" class="button-icon" (click)="showTagAdder()"></fa-icon>
        </div>
        <div class="buttons-wrapper">
          <fa-icon [icon]="faXmark" class="button-icon padded-left" (click)="closeAdder()"></fa-icon>
          <fa-icon [icon]="faTrash" class="button-icon padded-left" *ngIf="removeQuoteVisible" (click)="showConfirm()"></fa-icon>
          <fa-icon [icon]="faCheck" class="button-icon padded-left" (click)="addQuote()"></fa-icon>
        </div>
    </div>
</div>
<app-tag-adder
  *ngIf="tagAdderVisible && !displayConfirm"
  [tags]="tags"
  [activeTags]="activeTags"
  (setTags)="setTags($event)"
  (addTag)="addTags($event)"
  (removeTag)="deleteTag($event)">
</app-tag-adder>
<app-are-you-sure
  *ngIf="displayConfirm"
  (confirm)="confirmSelected()"
  (cancel)="cancelSelected()">
</app-are-you-sure>
