<div class="adder-modal-wrapper" (click)="doNothing($event)">
    <div class="adder-modal">
        <table>
            <tr>
                <td>
                    Quote
                </td>
                <td>
                    <input type="text" [(ngModel)]="quote">
                </td>
            </tr>
            <tr>
                <td>
                    Author
                </td>
                <td>
                    <input type="text" [(ngModel)]="author">
                </td>
            </tr>
            <tr>
                <td>
                    Title
                </td>
                <td>
                    <input type="text" [(ngModel)]="talkTitle">
                </td>
            </tr>
            <tr>
                <td>
                    Session
                </td>
                <td>
                    <select [(ngModel)]="sessionMonth">
                        <option value="April">April</option>
                        <option value="October">October</option>
                    </select>
                    <input type="number" min="1905" max="2099" step="1" [(ngModel)]="sessionYear" />
                </td>
            </tr>
        </table>
        <div>
          <button (click)="showTagAdder()">Add Tags</button>
        </div>
        <div>
            <button (click)="closeAdder()">Cancel</button>
            <button *ngIf="removeQuoteVisible" (click)="sendRemoveQuote()">Delete Quote</button>
            <button (click)="addQuote()">{{ addButtonText }}</button>
        </div>
    </div>
</div>
<app-tag-adder
  *ngIf="tagAdderVisible"
  [tags]="tags"
  [activeTags]="activeTags"
  (setTags)="setTags($event)"
  (addTag)="addTags($event)">
</app-tag-adder>
