.quote-add-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 100;
  width: 80px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #555555;
  text-align: center;
  padding-top: 22px;
}

.quote-add-button:hover {
  background-color: #444444;
}

.quote-add-button:active {
  background-color: #333333;
}

.page-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111;
  color: #F4F4F4;
  padding: 20px;
  padding-bottom: 0;
  overflow: auto;
  font-family: Tahoma, sans-serif;
}

.button-icon {
  font-size: 30px;
}

.quote-add-button:hover > .button-icon {
  color: #777777;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.page-contents {
  margin-top: 40px;
  height: calc(100% - 120px);
  width: 100%;
  overflow: auto;
  padding-bottom: 80px;
}

.bump-right {
  margin-right: 8px;
}
