<div class="page-background">
  <app-header class="header" (displaySidePanel)="displaySidePanel()"></app-header>
  <div class="page-contents">
    <app-quote-display
      *ngFor="let quote of filteredQuotes; index as i"
      [quote]="quote"
      [index]="i"
      [tags]="tags"
      (updateQuote)="updateQuote($event, i)"
      (addTag)="addTag($event)"
      (deleteQuote)="removeQuote(i)"
      (removeTag)="deleteTag($event)"
      (addTagFilter)="addTagFilter($event)"
      [selectedTags]="selectedTags"
      [searchText]="searchText">
    </app-quote-display>
  </div>
  <app-side-panel
    *ngIf="sidePanelVisible"
    (hideSidePanel)="hideSidePanel()"
    (search)="applySearch($event)"
    (selectTags)="setSelectedTags($event)"
    [searchText]="searchText"
    [tags]="tags"
    [selectedTags]="selectedTags">
  </app-side-panel>
  <app-quote-adder
    *ngIf="quoteAdderVisible"
    (close)="hideQuoteAdder()"
    (add)="addQuote($event)"
    (addTag)="addTag($event)"
    [tags]="tags"
    (removeTag)="deleteTag($event)">
  </app-quote-adder>
  <div class="quote-add-button" (click)="showQuoteAdder()">
    <fa-icon [icon]="faQuoteLeft" class="button-icon bump-right"></fa-icon>
    <fa-icon [icon]="faQuoteRight" class="button-icon"></fa-icon>
  </div>
</div>
