<div class="page-background">
<!--    <button (click)="showQuoteAdder()">Add Quote</button>-->
  <app-header class="header" (displaySidePanel)="displaySidePanel()"></app-header>
  <div class="page-contents">
    <app-quote-display
      *ngFor="let quote of quotes; index as i"
      [quote]="quote"
      [index]="i"
      [tags]="tags"
      (updateQuote)="updateQuote($event, i)"
      (addTag)="addTag($event)"
      (deleteQuote)="removeQuote(i)"
      (removeTag)="deleteTag($event)">
    </app-quote-display>
  </div>
  <app-side-panel
    *ngIf="sidePanelVisible"
    (hideSidePanel)="hideSidePanel()"
    (search)="applySearch($event)">
  </app-side-panel>
  <app-quote-adder
    *ngIf="quoteAdderVisible"
    (close)="hideQuoteAdder()"
    (add)="addQuote($event)"
    (addTag)="addTag($event)"
    [tags]="tags"
    (removeTag)="deleteTag($event)">
  </app-quote-adder>
  <div class="quote-add-button">
    <fa-icon [icon]="faComment" class="button-icon" (click)="showQuoteAdder()"></fa-icon>
  </div>
</div>
