<div class="page-background">
<!--    <button (click)="showQuoteAdder()">Add Quote</button>-->
    <app-quote-display
      *ngFor="let quote of quotes; index as i"
      [quote]="quote"
      [index]="i"
      [tags]="tags"
      (updateQuote)="updateQuote($event, i)"
      (addTag)="addTag($event)"
      (deleteQuote)="removeQuote(i)">
    </app-quote-display>
    <app-quote-adder
      *ngIf="quoteAdderVisible"
      (close)="hideQuoteAdder()"
      (add)="addQuote($event)"
      (addTag)="addTag($event)"
      [tags]="tags">
    </app-quote-adder>
  <div class="quote-add-button" (click)="showQuoteAdder()">+</div>
</div>
