<div>
  <div class="quote-wrapper">
    "{{quote.quote}}"
    <br>
    ({{quote.talkTitle}} - {{quote.author}} - {{quote.session}})
    <div class="tag-display">
      <div
        *ngFor="let tag of quote.tags | sortTag : tags"
        class="tag-pill"
        [ngStyle]="{'background-color': tag.color}"
        (click)="filterByTag(tag.id)"
        [ngClass]="{'unselected': selectedTags.length > 0 && !selectedTags.includes(tag.id)}">
        {{tag.name}}
      </div>
    </div>
    <div class="quote-buttons-wrapper">
      <fa-icon [icon]="faTag" class="button-icon" (click)="showAddTags()"></fa-icon>
      <fa-icon [icon]="faPenToSquare" class="button-icon" (click)="showUpdateQuote()"></fa-icon>
    </div>
  </div>
  <app-tag-adder
    *ngIf="addTagsVisible"
    [tags]="tags"
    [activeTags]="quote.tags ?? []"
    (setTags)="setTags($event)"
    (addTag)="addTags($event)"
    [darkenBack]="true"
    (removeTag)="deleteTag($event)">
  </app-tag-adder>
  <app-quote-adder
    *ngIf="updateQuoteVisible"
    (close)="hideUpdateQuote()"
    (add)="updateQuoteData($event)"
    (addTag)="addTags($event)"
    [addButtonText]="'Update Quote'"
    [tags]="tags"
    [quote]="quote.quote"
    [author]="quote.author"
    [talkTitle]="quote.talkTitle"
    [sessionMonth]="quoteMonth"
    [sessionYear]="quoteYear"
    [activeTags]="quote.tags"
    [removeQuoteVisible]="true"
    (removeQuote)="removeQuote()"
    (removeTag)="deleteTag($event)"
    [title]="'UPDATEquote'">
  </app-quote-adder>
</div>
